:root {
	--animDur: 0.15s;
}

.card.hover-card {
	overflow: hidden;
	display: inline-block;
	transform: scale(1);
	transition: var(--animDur);
}

.card.hover-card > img {
	filter: grayscale(20%);
	transform: scale(1);
	transition: var(--animDur);
}

.card:hover.hover-card {
	overflow: hidden;
	display: inline-block;
	transform: scale(1.1);
	transition: var(--animDur);
	cursor: pointer;
}

.card:hover.hover-card > img {
	transform: scale(1.105);
	filter: grayscale(0%);
	transition: var(--animDur);
	cursor: pointer;
}